/* .player-score {
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 20px;
    border: 3px solid var(--color-fiery-rose);
}

.player-score-bg {
    padding: 8px;
    border: 2px solid var(--color-floral-white);
    background-color: var(--color-old-silver)
}

.player-score-bg-green {
    padding: 8px;
    border: 2px solid var(--color-floral-white);
    background-color: var(--color-mantis)
} */